
<div ng-controller="reportCtrl"
data-ng-init="onLoad()"
class="row">
	<div class="small-7 small-centered columns">

	<h4 class="small-2 small-centered columns">Report</h4>

	<table name="reportTable"
			id="reportTable">
			<th>Year</th>
			<th>Month</th>
			<th>Seller</th>
			<th>Locks</th>
			<th>Stocks</th>
			<th>Barrels</th>
			<th>Sales</th>
			<th>Commission</th>
		<tr ng-repeat="dataRow in activeReportsInDb">
		  	<td class="numberValue">{{dataRow.year}}</td>
		  	<td class="numberValue">{{dataRow.month}}</td>
			<td class="numberValue">{{dataRow.salesPerson}}</td>
		  	<td class="numberValue">{{dataRow.locksSold}}</td>
		  	<td class="numberValue">{{dataRow.stocksSold}}</td>
		  	<td class="numberValue">{{dataRow.barrelsSold}}</td>
		  	<td class="numberValue">{{dataRow.totalSales}}</td>
		  	<td class="numberValue">{{dataRow.commission}}</td>
		</tr>
	</table>	

	</div>
</div>