<div ng-controller="salesCtrl" data-ng-init="onLoad()">
<div class="row">
<div class="small-12 columns">
	

	<h4>Sales</h4>

	User: {{getCookie('user')}} <br>
	Reported dates: {{reportedDates}} <br>
	Sold this month: {{sales.itemsSold}} <br>
	Product info: {{sales.productInfo}} <br>
	Total Sales this month: {{sales.totalSales}} <br>
	Commission this month: {{sales.commission}} <br>
	<div ><h3>
		{{sales.salesInfo}}  </h3>
	</div>
		<form
			ng-model="salesUserForm"
			novalidate>

			<div class"row">
			<div class="small-4 columns">
				
			
				<select name="city" 
				ng-model="salesUserForm.cityId"
				ng-init="salesUserForm.cityId='1'"
				ng-options="item.id as item.name for item in sales.cities"
				required>
				</select>

				<input type="text"
				id="salesUserForm.saleDate"
				ng-model="salesUserForm.saleDate"
				ng-init="salesUserForm.saleDate=today"
				ng-init="getSalesForUserAndDate()"
				name="salesUserForm.saleDate"
				ng-change="getSalesForUserAndDate()"
				placeholder="Date" 
				required />

				<p class="errorMessage" 
				ng-show="checkIfDateIsReported(salesUserForm.saleDate) == true">
				This month is already reported</p>

				<p class="errorMessage" 
				ng-show="controllUserInputFormatForSaleDate(salesUserForm.saleDate) == false">
				Invalid date format. Use yyyy-mm-dd</p>
				
				<input type="text"
				id="salesUserForm.locksSold"
				ng-model="salesUserForm.locksSold"
				name="salesUserForm.locksSold" 
				placeholder="Locks Sold" 
				required />

				<p class="errorMessage" 
				ng-show="validRole(salesUserForm) == false">
				You can't sell these many locks. Only {{locksLeft}} locks left</p>

				<input type="text"
				id="salesUserForm.stocksSold"
				ng-model="salesUserForm.stocksSold"
				name="salesUserForm.stocksSold" 
				placeholder="Stocks Sold" 
				required />

				<input type="text"
				id="salesUserForm.barrelsSold"
				ng-model="salesUserForm.barrelsSold"
				name="salesUserForm.barrelsSold" 
				placeholder="Barrels Sold" 
				required />
		
				<button id="submitSaleButton"
				ng-click="place(salesUserForm)"
				name="submitSaleButton"
				ng-disabled="
				!(!checkIfDateIsReported(salesUserForm.saleDate) &&
				controllUserInputFormatForSaleDate(
				salesUserForm.saleDate))">
				Submit Sale</button>
				
			</div>
			<div class="small-9 columns"></div>
			</div>		
		</form>


		<form
		ng-model="submitMonthForm"
		ng-submit="reportMonth(submitMonthForm.reportDate)"
		novalidate>

			<div class"row">
			<div class="small-4 columns">
			<h4>Report</h4>

				<input type="text"
				id="submitMonthForm.reportDate"
				ng-model="submitMonthForm.reportDate"
				name="submitMonthForm.reportDate"
				ng-change="getSalesForUserAndDate(submitMonthForm.reportDate)"
				placeholder="Date" 
				required />

				<p class="errorMessage" 
				ng-show="checkIfDateIsReported(submitMonthForm.reportDate) == true">
				This month is already reported</p>

				<p class="errorMessage" 
				ng-show="controllUserInputFormatForReport(submitMonthForm.reportDate) == false">
				Invalid date format. Use yyyy-mm</p>


				<button id="submitReportButton"
				name="submitReportButton"
				ng-disabled="
				!(!checkIfDateIsReported(submitMonthForm.reportDate) &&
				controllUserInputFormatForReport(submitMonthForm.reportDate))">
				Submit Report</button> <br>
				{{sales.reportSuccess}}
				
			</div>
			</div>

		</form>




	
</div>

</div>
</div>