<div ng-controller="salesCtrl" data-ng-init="onLoad()">
<div class="row">
<div class="small-12 columns">
	<form
		ng-model="salesUserForm"
		novalidate>
		<div class"row">
			<div class="small-4 columns panel">
				<h4>Sales</h4>
			
				<select name="city" 
				ng-model="salesUserForm.cityId"
				ng-init="salesUserForm.cityId='1'"
				ng-options="item.id as item.name for item in sales.cities"
				required>
				</select>

				<input type="text"
				id="salesUserForm.saleDate"
				ng-model="salesUserForm.saleDate"
				name="salesUserForm.saleDate"
				ng-change="dateChange(salesUserForm.saleDate)"
				placeholder="Date" 
				required />

				<p class="errorMessage" 
				ng-show="checkIfDateIsReported(salesUserForm.saleDate) == true">
				This month is already reported</p>

				<p class="errorMessage" 
				ng-show="controllUserInputFormatForSaleDate(salesUserForm.saleDate) == false">
				Invalid date format. Use yyyy-mm-dd</p>

				<p class="errorMessage" 
				ng-show="isDateValid(salesUserForm.saleDate) == false">
				Invalid date</p>
				
				<input type="text"
				id="salesUserForm.locksSold"
				ng-model="salesUserForm.locksSold"
				name="salesUserForm.locksSold" 
				placeholder="Locks Sold" 
				required />

				<p class="errorMessage" 
				ng-show="controllUserInputFormatForNumberOfItems(salesUserForm.locksSold) == false">
				Invalid format. Only numbers</p>

				<p class="errorMessage" 
				ng-show="controllItemsLeft(salesUserForm.locksSold,1) == false">
				You can't sell these many locks. You only have {{locksToSell}} locks left to sell.</p>

				<input type="text"
				id="salesUserForm.stocksSold"
				ng-model="salesUserForm.stocksSold"
				name="salesUserForm.stocksSold" 
				placeholder="Stocks Sold" 
				required />

				<p class="errorMessage" 
				ng-show="controllUserInputFormatForNumberOfItems(salesUserForm.stocksSold) == false">
				Invalid format. Only numbers</p>

				<p class="errorMessage" 
				ng-show="controllItemsLeft(salesUserForm.stocksSold,2) == false">
				You can't sell these many stocks. You only have {{stocksToSell}} stocks left to sell.</p>

				<input type="text"
				id="salesUserForm.barrelsSold"
				ng-model="salesUserForm.barrelsSold"
				name="salesUserForm.barrelsSold"
				placeholder="Barrels Sold" 
				required />

				<p class="errorMessage" 
				ng-show="controllUserInputFormatForNumberOfItems(salesUserForm.barrelsSold) == false">
				Invalid format. Only numbers</p>

				<p class="errorMessage" 
				ng-show="controllItemsLeft(salesUserForm.barrelsSold,3) == false">
				You can't sell these many barrels. You only have {{barrelsToSell}} barrels left to sell.</p>
		
				<button id="submitSaleButton"
				ng-click="place(salesUserForm)"
				name="submitSaleButton"
				ng-disabled="
				!(!checkIfDateIsReported(salesUserForm.saleDate) &&
				controllUserInputFormatForSaleDate(
				salesUserForm.saleDate) &&
				controllItemsLeft(salesUserForm.locksSold,1) &&
				controllItemsLeft(salesUserForm.stocksSold,2) &&
				controllItemsLeft(salesUserForm.barrelsSold,3))">
				Submit Sale</button>
				
				<h3>{{sales.salesInfo}}</h3>
			</div>
			<div class="small-3 columns">
				<br>
				<br>
				<br>
				<h5> 
				Sold this month <br>
				Locks: {{sales.itemsSold[0].locks}} <br>
				Stocks: {{sales.itemsSold[0].stocks}} <br>
				Barrels: {{sales.itemsSold[0].barrels}} <br>
				<br>				
				Left in stock this month <br>
				Locks: {{maxLocksToSell - sales.itemsSold[0].locks}} <br>
				Stocks: {{maxStocksToSell - sales.itemsSold[0].stocks}} <br>
				Barrels: {{maxBarrelsToSell - sales.itemsSold[0].barrels}}<br>
				<br>
				Total Sales this month: {{sales.totalSales}} <br>
				Commission this month: {{sales.commission}} <br>
				</h5>
			</div>
			<div class="small-1 columns"></div>
			</div>		
		</form>


		<form
		ng-model="submitMonthForm"
		ng-submit="reportMonth(submitMonthForm.reportDate)"
		novalidate>

			<div class"row">
			<div class="small-4 columns callout panel">
			<h4>Report</h4>

				<input type="text"
				id="submitMonthForm.reportDate"
				ng-model="submitMonthForm.reportDate"
				name="submitMonthForm.reportDate"
				ng-change="dateChange(submitMonthForm.reportDate)"
				placeholder="Date" 
				required />

				<p class="errorMessage" 
				ng-show="checkIfDateIsReported(submitMonthForm.reportDate) == true">
				This month is already reported</p>

				<p class="errorMessage" 
				ng-show="controllUserInputFormatForReport(submitMonthForm.reportDate) == false">
				Invalid date format. Use yyyy-mm</p>


				<button id="submitReportButton"
				name="submitReportButton"
				ng-disabled="
				!(!checkIfDateIsReported(submitMonthForm.reportDate) &&
				controllUserInputFormatForReport(submitMonthForm.reportDate))">
				Submit Report</button> <br>
				{{sales.reportSuccess}}	<br>

				<!--button id="submitReportButton"
				name="submitReportButton"
				ng-disabled="
				!(!checkIfDateIsReported(
				salesUserForm.saleDate) &&
				controllUserInputFormatForSaleDate(
				salesUserForm.saleDate))">
				Submit Report</button> <br>
				{{sales.reportSuccess}}	<br-->
				
				
			</div>
			</div>

		</form>



	
</div>

</div>
</div>