<div ng-controller="salesCtrl" data-ng-init="onLoad()">
<div class="row">
<div class="small-12 columns">
	

	<h4>Sales</h4>

	User: {{getCookie('user')}} <br>
	Reported dates: {{reportedDates}} <br>
	Sold this month: {{sales.itemsSold}} <br>
	Product info: {{sales.productInfo}} <br>
	Total Sales this month: {{sales.totalSales}} <br>
	Commission this month: {{sales.commission}} <br>

		<form
			ng-model="salesUserForm"
			novalidate>

			<div class"row">
			<div class="small-4 columns">
				
			
				<select name="city" 
				ng-model="salesUserForm.cityId"
				ng-init="salesUserForm.cityId='1'"
				ng-options="item.id as item.name for item in sales.cities"
				required>
				<option value="">Select City</option>
				</select>

				<input type="text"
				id="salesUserForm.saleDate"
				ng-model="salesUserForm.saleDate"
				name="salesUserForm.saleDate"
				ng-change="getSalesForUserAndDate(salesUserForm)"
				placeholder="Date" 
				required />

				<p class="errorMessage" 
				ng-show="checkIfDateIsReported(salesUserForm.saleDate) == true">
				This month is already reported</p>
				
				<input type="text"
				id="salesUserForm.locksSold"
				ng-model="salesUserForm.locksSold"
				name="salesUserForm.locksSold" 
				placeholder="Locks Sold" 
				required />

				<p class="errorMessage" 
				ng-show="validRole(salesUserForm) == false">
				You can't sell these many locks. Only {{locksLeft}} locks left</p>

				<input type="text"
				id="salesUserForm.stocksSold"
				ng-model="salesUserForm.stocksSold"
				name="salesUserForm.stocksSold" 
				placeholder="Stocks Sold" 
				required />

				<input type="text"
				id="salesUserForm.barrelsSold"
				ng-model="salesUserForm.barrelsSold"
				name="salesUserForm.barrelsSold" 
				placeholder="Barrels Sold" 
				required />
		
				<button id="submitSaleButton"
				ng-click="place(salesUserForm)">
				Submit Sale</button>
				<!--
				ng-disabled="!(checkUsernameValidity(salesUserForm) &&
				validRole(salesUserForm))"
				-->
			</div>
			</div>		
		</form>




	
</div>

</div>
</div>