<div  
id="createUserContainer" 
data-ng-init="onLoad()">

	<form name="createUserForm" 
	novalidate 
	ng-model="createUserForm"
	ng-submit="addUser(createUserForm)">

	<div class"row">
	<div class="small-4 columns">
		
		<input type="text" 
		ng-model="createUserForm.user"
		name="createUserForm.user"
		placeholder="User Name" 
		required/>
			
		<p class="errorMessage" 
		ng-show="checkNewUsernameValidity(createUserForm) == false">
		Sorry, the username [{{createUserForm.user}}] is already taken</p>
		
		<input type="password"
		id="createUserForm.password"
		ng-model="createUserForm.password"
		name="createUserForm.password" 
		placeholder="Password" 
		required />
		
		<input type="password" 
		ng-model="createUserForm.passwordConfirm"
		name="createUserForm.passwordConfirm" 
		placeholder="Confirm password" 
		required />
		
		<p class="errorMessage" 
		ng-show="confirmPasswords(createUserForm) == false">
		You didn't enter the same password in the two password fields</p>
		
		<button id="addUserButton"
		type="submit"
		name="createUserForm.createUser"
		ng-disabled="!(noEmptyFields(createUserForm) &&
		checkNewUsernameValidity(createUserForm) &&
		confirmPasswords(createUserForm))">
		Add User</button>
	
		<a id="cancelButton" href="#"><button>Cancel</button></a>		

	</div>
	</div>		
	</form>
</div>