<div id="loginUserContainer">
	<form name="loginUserForm" 
	novalidate 
	id="loginUserForm">
		<div class"row">
			<div class="small-4 small-centered columns">
				<h3>Log in to your account</h3>
				<input type="text" 
				ng-model="loginUserForm.user"
				name="loginUserForm.username" 
				placeholder="User Name"
				required/>
			
				<input type="password" 
				ng-model="loginUserForm.password"
				name="loginUserForm.password" 
				placeholder="Password" 
				required />
			
				<button 
				id="loginUserButton" 
				name="loginUserForm.login"
				ng-disabled="!(!!loginUserForm.user && !!loginUserForm.password)"
				ng-click="processLoginUserForm(loginUserForm)">
				Log in
				</button>

				<a name="createUser" id="createUser" href="#createUser"><button>Create User</button></a>
			</div>	
		</div>

	</form>
	
</div>